//Colors
$white: #fff;
$black: #000;
$aceHelpfulRed: #d40029;
$gray42: #424242;

//Font Family
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCondensed: 'Roboto Condensed', sans-serif;
$fontRobotoSlab: 'Roboto Slab', serif;

//Font Weight
$fontWeight400: 400;

$cursorPointer: pointer;

// Mixins
@mixin marginCenter {
    max-width: 110rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin scrollHorizontal {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden; /* Hide vertical scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

