@import '../global-styles/global-styles.scss';

/////// Icons Section ///////
.icon {
    white-space: nowrap;
    background-color: $white;
    @include marginCenter;
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    user-select: none;
    
    @media screen and (min-width: 1075px) {
        white-space: normal;
    }
}

.icon::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.icon-container {
    display: inline-block;
    width: 10rem;
    margin: 2.5rem 1.7rem;
    vertical-align: top;
    white-space: normal;
    cursor: $cursorPointer;
    
    @media screen and (min-width: 768px) {
        user-select: auto;
    }
}

.icon-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.icon-content {
    white-space: normal;
    margin: 0 2rem;
    width: 9.5rem;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: $cursorPointer;
}

.icon-img-container {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 5.3rem;
    height: 5.3rem;
    margin: 0 auto 5px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d40029;
    transition: ease all .4s;
    
    &:hover {
        animation: pulse-animation 1.3s infinite;
    }
    
    .category-icon-svgcontainer {
        animation: pulse-animation 1.3s infinite;
    }
    
    .hover-pulsing {
        animation: pulse-animation 1.3s infinite
    }
    
    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0 rgba(212,0,41,.3)
        }
        
        100% {
            box-shadow: 0 0 0 20px transparent
        }
    }
    
    &:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
    
    .icon-image {
        width: 3.6rem;
        height: 3.6rem;
    }   
}

.icon-content.active .icon-img-container {
    animation: pulse-animation 1.3s infinite;
}

.icon-title {
    color: $black;
    font-family: $fontRobotoCondensed;
    font-weight: $fontWeight400;
}